<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    
    <div class="container">
        <h1>Admin Login</h1>
        <form action="/login" method="post">
            {% with messages = get_flashed_messages()%}
            {% if messages %}
            <div class="alert alert-warning mt-3">
                {{messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
<div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password"class="form-control" name="password" required>
</div>
<button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
    <button><a href="{{'/'}}">back to home</a></button>

    

</body>
</html>